/** * Site header */
@font-face {
    font-family:'Aeonik';
    src: url('../../font/Aeonik-Regular.otf');
  }
  body {
    padding: 0;
    margin: 0;
    font-family: Aeonik !important;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }
.site-header {
    min-height: 80px;
    position: relative;
    padding: 20px 50px;
}
.site-title {
    font-weight: 300;
    line-height: 2;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
}
.site-title, .site-title:visited, .site-title:hover {
    color: #000;
    text-decoration: none;
}
.site-title img {
    vertical-align: middle;
}
.site-nav {
    float: right;
    line-height: 2;
}
.site-nav .nav-trigger {
    display: none;
}
.site-nav .menu-icon {
    display: none;
}
.site-nav .link-url {
    color: #000;
    line-height: 2;
}
.site-nav .link-url:not(:last-child) {
    margin-right: 20px;
}
@media screen and (max-width: 38em) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: red;
        border: 1px solid #828282;
        border-radius: 5px;
        text-align: right;
        z-index: 9999;
   }
    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
   }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
   }
    .site-nav .menu-icon > svg path {
        fill: #828282;
   }
    .site-nav input ~ .trigger {
        clear: both;
        display: none;
   }
    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
   }
    .site-nav .trigger {
        padding-top: 20px;
   }
    .site-nav .link-url {
        display: block;
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 10px;
   }
    .site-nav .link-url:last-child {
        margin-bottom: 10px;
        margin-right: 20px;
   }
}
/** * Post list */
.post-list {
    margin-left: 0;
    list-style: none;
}
.post-list > li {
    margin-bottom: 10px;
}
.post-list > li > h2 {
    margin-top: 0rem;
    margin-bottom: 0.4rem;
}
.post-list > li > p {
    margin-top: 0rem;
}
@media screen and (max-width: 38em) {
    .post-list {
        -webkit-margin-end: 10px;
        -webkit-padding-start: 10px;
   }
}
.post-meta {
    font-size: 12px;
    color: #828282;
}
.post-link {
    display: inline-block;
    font-size: 16px;
    color: black;
}
#product-updates {
    display: none;
}
.left-section {
    width: 30%;
    display: inline-block;
    padding: 0px;
    max-height: 290px;
    overflow: auto;
}
.right-section {
    width: 70%;
    display: inline-block;
    float: right;
}
.right-section p {
    padding-left: 30px;
}
#internal-improvements {
    margin-top: 50px;
}
.mobileView {
    display: none;
}
label {
    display: block !important;
}
.accordion-flush .accordion-collapse {
    max-height: 150px;
    overflow: auto;
}
.accordion-item {
    border: 1px solid #d8ece0 !important;
}
@media screen and (max-width: 54em) {
    .left-section {
        display: none;
   }
    .right-section {
        width: 100%;
   }
    .mobileView {
        display: block;
   }
    .mobileView .accordion-button {
        background-color: #d8ece0;
   }
    .mobileView .accordion-button:focus {
        border-color: transparent;
        box-shadow: none;
   }
    .mobileView .accordion-button:not(.collapsed) {
        color: #212529;
        background-color: #d8ece0;
   }
    .mobile-content.main-content h2 {
        display: none;
   }
    #mobileContent .right-section {
        display: none;
   }
    #mobileContent .left-section {
        display: block;
        width: 100%;
   }
    #mobileContent h2 {
        color: #fff;
        font-size: 0px;
   }
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 1400px;
        padding: 3rem 3rem;
        margin: 0 auto;
        font-size: 16px;
    }
  }
  
  .page-header {
    color: #000;
    text-align: center;
    background-color: #f5f5f5;
    background-image: none;
  }

  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #000;
    margin-top: 0px;
  }
  
  a {
    text-decoration: none !important;
  }
 a:hover {
    color: #069762 !important;
 }
 .site-nav {
    background-color: #fff;
    top:20px;
 }