---
layout: default
---

<div>

  <h2>Release notes</h2>

  <ul class="post-list left-section">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          <span class="post-meta">( {{ post.date | date: date_format }} )</span>
        </h2>

      </li>
    {% endfor %}
  </ul>
  <article class="right-section">
    <div>
      <h2 id="product-updates"></h2>
    <h3 id="bug-fixes">
      <strong>Bug fixes:</strong></h3>
      <p>1.Publish as view was not showing up in the pipeline.</p>
      <p>2.Convert column rule was returning blank values in all column.</p>
      <p>3.Multiple click on create csv link option was creating multiple tasks in pipeline.</p>
      <p>4.Data library search bar was showing up on expired account screen.</p>
      <p>5.Allowing to apply Multiple task and Publish to DB/Publish to view together.</p>
      <p>6.Tasks 3 dot menu of tasks  was not clickable  in pipeline.</p>  
    <h3 id="internal-improvements">
      <strong>Internal Improvements:</strong></h3>
      <p>1.Fixed a sentry error in explore cards.</p>
      <p>2.Removed legacy login module from frontend.</p>
      <p>3.Invalid cache was being stored in frontend.We fixed it.</p>
  </article>
</div>
</div>

