<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <a class="small-logo" href="https://mammoth.io/">
                        <img class="light-theme" src="https://mm-brandassets.s3.amazonaws.com/logos/mammoth_logo_darkgreen.svg">
                        <img class="dark-theme" src="https://mm-brandassets.s3.amazonaws.com/logos/mammoth_logo_white.svg">
                       </a>
                    <!-- Title -->
                    <a class="btn pull-right link" href="https://mammoth.canny.io/">Roadmap</a>
                    <a class="btn pull-right link" href="https://www.mammoth.io/blog">Product Blogs</a>
                    <a class="btn pull-right link" href="https://tech.mammoth.io/">Tech blogs</a>
                    <h1></h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    {% if reversed_posts %}
                        <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>