---
layout: default
---

<div>

  <h2>Release notes</h2>

  <ul class="post-list left-section">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          <span class="post-meta">( {{ post.date | date: date_format }} )</span>
        </h2>

      </li>
    {% endfor %}
  </ul>
  <article class="right-section">
    <div>
      <h2 id="product-updates"></h2>
    <h3 id="enhancement">
      <strong>Enhancement:</strong></h3>
      <strong>1.Salesforce integration support for sandbox salesforce domain:</strong></h3>
      <p>Salesforce supports only main domain of salesforce.Now we are allowing the user to use it for custom domains too .</p>
      <strong>2.In 3P connectors, allow for latest batch pull to replace existing batch data in Mammoth:</strong></h3>
      <p>Mammoth allows for incremental data pull based on unique sequence column.However, the data that is pulled is kept in combine mode where every pull creates a new batch of data.Now besides the option to create a new batch, we are allowing the user an option to replace the data with the new increment.
        This reduces the amount of data stored in Mammoth and avoids redundant processing.</p>

    <h3 id="bug-fixes">
      <strong>Bug fixes:</strong></h3>
      <p>1.Pipeline was showing loader and preventing access to task menu.</p>
      <p>2.Error column was showing up in column selection field of the task after copy pasting a task.</p>
      <p>3.Canceling a function was showing inocorrect data types in a specific scenario.</p>
      <p>4.Format not handled correctly for numeric columns.</p>
      <p>5.Multiple issues was there in Search bar on landing page.</p>
      <p>6.A file with unambigous date column was asking  for user input.</p>
      <p>7.Pending update summary should show right details including right DS and view name details in the summary.</p>
      <p>8.Data library was showing up under reports when user switches the account.</p>
      <p>9.A file was showing empty grid</p>
      <p>10.Defult numeric format(comma) was showing up in crosstab.</p>
      <p>11.Column format was not correct for dataset and batch data</p>
      <p>12.Column to rows rule - Formatting didn't get apply when date columns are used in Values column</p>
      <p>13.Last row was not visible in the grid</p>

    <h3 id="internal-improvements">
      <strong>Internal Improvements:</strong></h3>
      <p>1.Data passthrough backend work is  now complete.</p>
      <p>2.We have converted snowflake from cdata driver to python connector to work for large data.The large data get used to stuck while creating the database.With this change
        we can pull the data within seconds.</p>
  </article>
</div>
</div>

